<header class="clearHeader">
  <div class="header bg-header">
    <div class="d-none d-md-block">{{>top }}</div>
    <nav class="navbar navbar-expand-xl navbar-light">
      <a class="navbar-brand" href="/"><img data-src="assets/images/logo.svg" class="img-fluid lazyload"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse flex-lg-column" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/country.html" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">OUR DESTINATIONS</a>
            <div class="dropdown-menu animate slideIn" aria-labelledby="kmDropdown">
              <a href="/country.html" class="d-block d-lg-none dropdown-item">Xem tất
                cả</a>
              <div class="dropdown-divider m-0 d-block d-lg-none"></div>
              <a class="dropdown-item" href="/countrydetail.html">Vietnam</a>
              <div class="dropdown-divider m-0"></div>
              <a class="dropdown-item" href="/countrydetail.html">Laos</a>
              <div class="dropdown-divider  m-0"></div>
              <a class="dropdown-item" href="/countrydetail.html">Cambodia</a>
              <div class="dropdown-divider  m-0"></div>
              <a class="dropdown-item" href="/countrydetail.html">Myanmar</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tourlist.html">TOUR CATEGORY</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/aboutus.html">ABOUT US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/mice.html">MICE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sus.html">SUSTAINABLE TRAVEL</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/traveltrade.html">TRAVEL TRADE</a>
          </li>
        </ul>
        <div class="d-block d-md-none">{{>top }}</div>
      </div>
    </nav>
  </div>
</header>